
* {
    box-sizing: border-box;
  }
  
html {font-size: 18px;}
body {
    background: #faf9f8;
    color: rgb(7, 12, 9);
    font-family: 'Merriweather', serif;
}
header {
    display: block;
    margin: 0 auto 5px;
    text-align: center;
}
.logo {
    background-color: rgb(24, 49, 66);
    padding: 5px;
    color: white;
}
.container {
    margin: 0 auto 2px;
    width: 90%;
    border-bottom: 5px black;
    border-bottom-style: solid;
}

.intro {
    font-size: smaller;
    color: gray;
}

form {
    max-width: 100%;
    margin: 10px auto;
    padding: 10px 0px;
    border-radius: 8px;
}
.contact-form input:focus,
textarea:focus {   /* Transition for exceeds */
    transition: background-color 2s;
    background-color: rgb(218, 218, 177);
  }
fieldset:nth-of-type(1) {
    border-bottom: 2px black;
    border-bottom-style: solid;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder {
    text-align: right;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}
#zip {
    width: 50%;
}
main {
    width: 90%;
    margin: 0 auto 10px;
    border-top: 2px black;
    border-top-style: solid;
}
fieldset {
    border:  none;
    padding: 10px;
    margin: 10px auto 15px;
}
legend {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 5px;
}
label {
    display: block; 
    margin-top: 1rem;
    font-size: 1.1rem;
}
input, textarea {
    margin: 5px 0;
    padding: 0px; 
    font-size: 18px;
    color: #333;
    font-family: 'Nunito', sans-serif;
}
input:focus, textarea:focus {
    outline: 3px solid #09f;
}
select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}
input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

label {
    display: block;
    margin-bottom: 8px;
}

label.light {
    font-weight: 300;
    display: inline;
    margin: 10px auto 10px 5px;
}

button {
    width: 95%;
    padding: 12px 0;
    color: white;
    font-size: 18px;
    margin: 10px auto 10px;
    border: none;
    border-radius: 8px;
    display: block;
    cursor: pointer;
    background-color: teal;
}

footer,
footer p {
    display: block;
    text-align: center;
    font-weight: lighter;
    font-size: smaller;
}
  
/* Media Queries ==================================== */

@media (min-width: 768px) {

   body {
       display: block;
        max-width: 100%;
    }
    .logo {
        max-height: 2em;
    }
    #logo-text {
        margin: 0 auto 0;
    }
    main, .container {
      max-width: 600px;
    }
    fieldset:nth-of-type(1) {
        display: flex;
        flex-direction: column;
    }
    .contact-form {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .contact-form label {
        max-width: 300px;
        flex: 1;
    }
    .contact-form input,
    .contact-form select {
        max-width: 400px;
    }
    input#zip {
        margin-right: 16em;
        width: 25%;
    }
    textarea#comments {
        max-width: 551px;
        margin: 0 7px 0 10px;
        height: 5em;
    }
  
  }
  
